<!--圆形进度条-->
<div class="w3ls_agile_circle_progress agile_info_shadow">

    <div class="cir_agile_info ">
        <h3 class="w3_inner_tittle">Circular Progress</h3>
        <div class="skill-grids">
            <div class="skills-grid text-center">
                <div class="circle" id="circles-1"></div>
                <p>HTML</p>
            </div>
            <div class="skills-grid text-center">
                <div class="circle" id="circles-2"></div>
                <p>PHOTOGRAPHY</p>
            </div>
            <div class="skills-grid text-center">
                <div class="circle" id="circles-3"></div>

                <p>ILLUSTRATOR</p>
            </div>
            <div class="skills-grid text-center">
                <div class="circle" id="circles-4"></div>
                <p>CSS3</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>