<!--条形进度条-->
<div class="col-md-6 bars_agileits agile_info_shadow">
    <h3 class="w3_inner_tittle two">Daily Sales</h3>
    <div class='bar_group'>
        <div class='bar_group__bar thin' label='Rating' show_values='true' tooltip='true' value='343'></div>
        <div class='bar_group__bar thin' label='Quality' show_values='true' tooltip='true' value='235'></div>
        <div class='bar_group__bar thin' label='Amount' show_values='true' tooltip='true' value='550'></div>
        <div class='bar_group__bar thin' label='Farming' show_values='true' tooltip='true' value='456'></div>
    </div>
</div>